<h4>Signed in as <%=current_user.username%></h4></br>

<a href="/questions">All Questions</a>

<h2><%=@question.topic%></h2></br>
<%=@question.content%></br>

<form action="/questions/<%=@question.id" method="post">
  <input type="submit" id="btn btn-primary" name="choice1" value="<%=@question.choice1%>"></br>
</form>

<form action="/questions/<%=question.id" method="post">
  <input type="submit" id="btn btn-primary" name="choice1" value="<%=@question.choice2%>"></br>
</form>
