<h2><%=@question.topic%></h2></br>
<%=@question.content%></br>
<input type="submit" id="btn btn-primary" name="choice1" value="<%=@question.choice1%>"></br>
<input type="submit" id="btn btn-primary" name="choice1" value="<%=@question.choice2%>"></br>


<form action="/questions/<%=@question.id%>/delete" method="post">
  <input id ="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Question">
</form>

<a href="/questions/<%=@question.id%>/edit">Edit Question</a>
